body {
    background-color: #272729;
    color: #ffffff;
  }

  .custom-box {
    background-color: #161616;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 2px;
    border-color: #6b7280; /* Tailwind's gray-500 */
    overflow-y: auto;
  }
