body {
    background-color: #34343c;
    color: #ffffff;
  }

  .custom-box {
    background-color: #050400;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 2px;
    border-color: #adadb7; 
    overflow-y: auto;
  }
